{% extends "base.html" %}

{% block content %}
  {% for blog in blog_list %}
    <div class="card">
      <h5 class="card-header">{{ blog.title }}</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            {% if blog.image %}
              <img src="{{ blog.image.url }}" alt="" style="width:100px;height:100px;" class="rounded">
            {% endif %}
          </div>
          <div class="col-md-10">
            <p class="card-text">{{ blog.summary|safe }}<br></p>
          </div>
        </div>
        <footer class="blockquote-footer">
          {% for tag in blog.tags.all %}
            <a href="{% url 'blogs_by_tag' tag.pk %}">{{ tag.tag }}</a>
          {% endfor %}
        </footer>
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}
