{% extends "base.html" %}

{% block content %}
  {% for cast in podcast_list %}
    <div class="card">
      <h5 class="card-header">{{ cast.title }}</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="{{ cast.artwork_url }}" alt="" style="width:100px;height:100px;">
          </div>
          <div class="col-md-10">
            <p class="card-text">{{ cast.description|safe }}<br></p>
          </div>
        </div>
        <a href="{{ cast.audio_url }}" class="btn btn-primary">Listen Here!</a>
        <footer class="blockquote-footer">{{ cast.tags }}</footer>
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}
